
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*====================CHUNG====================*/
a{
    text-decoration: none;

}
header .main-content{
    width: 1170px;
    
}



/*====================HEADER====================*/
header .body{
    display: flex;
   
}
header .nav{
    display: flex;
    
}


/*====================MAIN====================*/