/*======================QUY DOI 10px = 1 rem======================*/

*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*====================CHUNG====================*/
/* hiệu ứng chuột */
button:hover {
    cursor: pointer;

}
.btn:hover {
    cursor: pointer;
    background-color: aqua;
    color: #171100;
}
.btn-h2:hover {
    cursor: pointer;
    background-color: red
}

.logo:hover {
    cursor: pointer;
    
}
:root {
    --font-heading: Sen, sans-serif;
    --font-text: Poppins, sans-serif;
}
a{
    text-decoration: none;
}
.desc{
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}
.heading-lv2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27; 
    letter-spacing: -0.76px;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}


/*====================HEADER====================*/
header.fixed {
    background-color: #f7cd59;
    position: sticky;
    top: -28px;
}
header .main-content{
    padding-top: 36px;
    padding-bottom: 8px;
    
}
header .body{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav{
    display: flex;
    margin-left: auto;
}
header .nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav ul li a{
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #4e4e4d;
}
header .nav ul li a:hover{
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    text-shadow: #0000 0px 0px 0px;
    font-weight: 600;
}
header .nav ul li.acvive a{
    color: #171100;
    font-weight: 600;
}
header .nav ul li.acvive a::after{
    left: 21px;
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.btn {
    min-width: 144px;
    margin-left: 49px;
    padding: 0 16px;
    background-color: #171100;
    border-radius: 999px;
    color: #fff;
    display: inline-block;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

/*====================HERO====================*/
main .hero{
    background-color: rgb(240, 240, 240);
}
main .hero .body{
    padding-top: 56px;
    padding-bottom: 65px;
    display: flex;
}
.hero .media-block{
    position: relative;
    width: 48%;
}
.hero .content-block{
    padding-top: 64px;
    padding-left: 130px;
    width: 52%;
}
.hero .media-block .thumb{
    width: 470px;   
    height: 685px;
    border-radius: 20px;
    display: inline;
    line-height: 16px;
    object-fit: cover;
}

.hero .media-block .hero-summary {
    padding: 24px;
    width: 270px;
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background-color: #fff;
    line-height:16px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-block .hero-summary .item{
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero .media-block .hero-summary .item + .item {
    margin-top: 22px;
}
.hero-summary .item .icon{
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
    border-radius: 50%;
    margin-right: 16px;
}
.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}
.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.hero-summary .title1 {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-right: 30px;
}
.hero .content-block .heading{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -1.16px;
}
.hero .content-block .desc {
    margin-top: 22px;
    margin-bottom: 38px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero .cta-group{
    display: flex;
    margin-bottom: 48px;
}

.hero .cta-group .watch-video{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin-left: 28px;

}
.btn-h2{
    margin-left: 28px;
    padding: 0 16px;
    background-color: #171100;
    border-radius: 999px;
    color: #fff;
    display: inline-block;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}
.hero .cta-group .watch-video .icon{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #fff;
    border-radius: 50%;
}
.hero .watch-video p{
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.hero .desc-recent{
    margin-bottom: 20px;
}
.hero .desc-stats strong{
    margin-right: 15px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}
.hero .content-block .str70{
    margin-left: 27px;
}


/*====================POPULAR====================*/

.popular{
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: 135px;
    background-color:#fffcf4;
    margin-bottom: 135px;
}

.popular .popular-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 237, 237);
}

.popular .popular-top .desc{
    margin-top: 16px;
}
.popular .popular-top .control-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ffb900;
    color: #ffb900;
}
.popular .popular-top .control-btn:hover{
    background-color: #ffb900;
    color: #fff;
}
.popular .popular-bottom{
    display:flex;
    margin-top: 55px;
    gap: 30px;
    background-color: #fff;
}
.popular .popular-bottom .item{
    width: 370px;
    height: 470px;
}

.popular .popular-bottom .thumb{
    width: 369px;
    height: 287px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: space-between
}

.popular .item .info{
    padding: 16px 22px 22px;
}

.popular .popular-bottom .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .popular-bottom .head .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.popular .popular-bottom .info p.desc{
    width: 350px;
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem; 
    line-height: 1.86;
}
.popular .popular-bottom .info .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .popular-bottom .info .foot .price{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}


/*====================FEEDBACK====================*/
.feedback{
    background-color: rgb(46, 33, 0);
    padding: 96px;
}
.feedback .feedback-item{
    display: flex;
}

.feedback .main-content .avatar1{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 18px;
}
.feedback .main-content .infor{
    width: 159px;
    height: 191px;
}
.feedback .main-content .infor .member-name{
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;  
}
.feedback .feedback-item .content{
    margin-left: 250px;
    width: 65%;
    justify-content: space-between;
}
.feedback .main-content .content blockquote{
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}
.feedback .main-content .infor .desc{
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
    margin-bottom: 28px;
}
.feedback .feedback-item .infor .dots{
    display: flex;
    gap: 5px;   
}
.feedback .feedback-item .infor .dots .dot.active,
.feedback .feedback-item .infor .dots .dot:hover{
    background-color: #ffb900;
}
.feedback .feedback-item .infor .dots .dot{

    border-radius: 50%;
    height: 6px;
    width: 6px;
    background-color: #bbb195;
}




